{{ define "main" }}
    <h4 align="center">合作伙伴</h4>

    {{ $period := .Params.period }}

    {{range .Pages}}
        {{ $period = $period | union .Params.period }}
    {{end}}

    {{ range $data := (sort $period "value" "desc") }}
        {{ $data }}、
    {{end}}
    <div style="margin: 10px;text-align: center;">
        {{ range .Pages }}
                
                    <span style="padding-left: 10px; padding-right: 10px;">
                        {{ if and (ne .Params.logo nil) (ne .Params.logo "") }}
                        {{ if and (ne .Params.homepage nil) (ne .Params.homepage "") }}<a href="{{.Params.homepage}}"
                            target="_blank">{{ end}}
                            <img src="/images/partners/{{.Params.logo}}" height="86px" alt="{{.Params.displayName}}" />
                            {{ if and (ne .Params.homepage nil) (ne .Params.homepage "") }}</a>{{ end}}
                        {{ end }}
                    </span>
                
        {{ end }}
    </div>
    
{{end}}