{{ $author := .context.Params.author }}
{{ $translator := .context.Params.translator }}
{{ if $translator }}
{{ $author = $translator }}
{{ end }}
{{ if $author }}
  <aside class="mw5 br3 mv3 nested-links">
    {{ $urlPre := "https://api.github.com" }}
    {{ $user_json := getJSON $urlPre "/users/" $author }}
      {{ if $user_json.name }}
        <h3 class="f4 dib author">
            {{ $user_json.name | htmlEscape }}
        </h3>

      {{ end }}
      {{ if $user_json.bio }}
        <p class="lh-copy measure center mt0 f6 black-60 bio">
          {{ $user_json.bio | htmlEscape }}
        </p>
      {{ end }}
      <a href="{{ $user_json.html_url }}" target="_blank" class="link dim v-mid dib">
        {{ partial "svg/github-squared.svg" (dict "fill" "gray" "width" "16" "height" "18") }}
      </a>

  {{if and (ne .context.Params.translator "") (ne .context.Params.translator nil)}}
  <div>
    作者：<span class="originalAuthor">{{.context.Params.author}}</span>
    <div>
      <a class="originalLink" href="{{.context.Params.original}}" target="_blank">原文链接</a>
    </div>
  </div>
  {{end}}
  </aside>
{{ end }}
